<div class="containerapp-actorlist">
  <h1>Welcome Guys!!!</h1>
  <app-anglist></app-anglist>
  <!-- <app-message></app-message> -->
  <!-- <app-observabledemo></app-observabledemo> -->
  <!-- <app-blog></app-blog> -->
   <!-- <app-weather-demo></app-weather-demo>  -->
  <!-- <app-parent>

  </app-parent> -->
  <!-- <app-pipedemo></app-pipedemo> -->

  <!-- <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive = "active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/actors" routerLinkActive = "active">Actor list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts" routerLinkActive = "active">Blog posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/weather" routerLinkActive = "active">Weather report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/abcd" routerLinkActive = "active">Not Found</a>
    </li>
  </ul> -->

  <router-outlet></router-outlet>
</div>